body{
	background-color: #e8e8e8;
	margin: 0 auto;
	padding: 0 auto;
	font-family: arial;

}


button,input{
	outline: none;
	cursor: pointer;

}

a{
	text-decoration: none;
}

.busca-topo,.box-btn-procurar{
	display: none;
}

#conteiner-topo{
	width: 100%;
	float: left;
	background-color: white;
	position: fixed;
	z-index: 999;

}


.logotipo-topo{
	position: relative;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
	float: left;
}

.login-topo{
	float: right;
	margin-right: 20px;
	margin-top: 27px;
}

#btn-login{
	width:100px;
	height: 30px;
	background-color: #E73D81;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: normal;
}


#btn-login  .fas{
	color:white;
}



#fechar-menu-responsivo{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	color:white;
}

#fechar-menu-responsivo .fas{
	color:white;
	cursor: pointer;
}


#login-responsivo{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	z-index: 999;
	display: none;

	
}

.box-login{
	position: relative;
	left: 50%;
	margin-left: -35%;
	margin-top:180px;
	width: 70%;
	float: left;
	background-color: white;
	border-radius: 5px;
	padding-bottom: 10px;
	max-width: 320px;

}

.informacoes-login{
	width: 90%;
	position: relative;
	left: 50%;
	margin-left: -45%;
	float: left;
}

.email-acesso,.senha-acesso{
	width: 100%;
	height: 35px;
	margin-top: 10px;
	border-radius: 3px;
	border: 1px solid #706E6E;
	color: #706E6E;
	float: left;
}

.btn-acesso{
	width: 100%;
	position: relative;
	left: 50%;
	margin-left: -50%;
	background-color: #E73D81;
	border: none;
	height: 35px;
	font-size: 1em;
	color: white;
	font-weight: bolder;
	margin-top: 10px;
	border-radius: 3px;
	float: left;
}

.checkbox-login {
	float: left;
	display: inline;

	
}

.box-checkbox{
	width: 100%;
	float: left;
	margin-top: 10px;
}

.filtro-basico-topo{
	float: left;
	width: 100%;
}

.texto-checkbox{
	margin-left: 7px;
	line-height: 20.5px;
	font-size: 0.8em;
	color: #706E6E;
}

.linha-login{
	border: 0.5px solid #706E6E;
	margin-top: 170px;
}


.btn-filtro-basico{
	border: none;
	width: 25%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #D12E6F;
}

.cadastrese{
	color:#E73D81;
	font-size: 0.9em;
	
}

.esqueci-senha{
	color:#3498DB;
	font-size: 0.9em;

}

.btn-filtro-basico h1{
	text-align: center;
	font-size: 0.9em;
	line-height: 5px;
	color: white;
	margin-left: 2.1px;
}

.segunda-cor{
	background-color: #E73D81;
}

#slide{
	width: 100%;
	float: left;
	background-image: url("../img/background-slide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 175px;
	padding-bottom: 20px;
}



.evento-slide{
	position: relative;
	left: 50%;
	margin-left: -136px;
	width: 270px;
	height: 270px;
	background-color: transparent;
	background:linear-gradient( to top, black, transparent),url("../img/teste-img.jpg")  ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	float: left;
	color: white ;
	transition:0.3s;

}

.evento-slide:hover { transform:scale(1.05) }

.evento-slide:hover{
	background-position: center;
	transition:0.5s;
}



.evento-slide h2{
	color:white !important;

}


.evento-slide h1{
	margin-top: 90px;

}

.evento-slide h2{
	font-size: 1em;
	font-weight: normal;
	line-height: 9px;
	color: white;
}	

 .far,.fas{
	color:#E73D81;
}

#sessao-principal{
	float: left;
	width: 100%;
	
}

hr {
	width: 80%;
	border: 2px solid #E73D81;
	margin-top: -15px;
	}

#sessao-principal h1{
	color:#3498DB;
	text-align: center;

}

.bloco-evento{
	width:90%;
	position: relative;
	left: 50%;
	margin-left: -45%;
	background-color: white;
	padding-bottom: 10px;
	margin-bottom: 15px;

}

.imagem-evento img{
	width: 90%;
	position: relative;
	left: 50%;
	margin-left: -45%;
	padding-top: 15px;

}

.texto-evento{
	width: 90%;
	position: relative;
	left: 50%;
	margin-left: -45%;
}

.texto-evento h1,h2{
	color: black !important;
	text-align: left !important;
}

.texto-evento h1{
	font-size: 1.5em;
	margin-left: 0px;
}

.texto-evento h2{
	font-size: 1em;
	font-weight: normal;
}

.texto-evento .far,.fas{
	margin-left: 0px;
}

.btn-saber-mais{
	width: 90%;
	height: 50px;
	position: relative;
	left: 50%;
	margin-left: -45%;
	background-color: #E73D81;
	border: none;
	border-bottom: 5px solid #A61B52;
	border-radius: 3px;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	transition:1s;
}

.btn-saber-mais:hover{
	transition:0.5s;
	background-color: #A61B52;
	border-bottom: 5px solid #E73D81;

}

#newsletter{
	width: 100%;
	float: left;
	padding-bottom: 15px;
	background:linear-gradient( to right, rgba(52,152,219,0.7), rgba(231,61,129,0.7)),url("../img/background-newsletter.jpg")  ;
	background-repeat: no-repeat;
	background-size: cover;
}

.box-newsletter{
	position: relative;
	left: 50%;
	margin-left: -45%;
	width: 90%;
}

#newsletter h1,h3{
	color:white;
	font-size: 1.1em;
	text-align: center;
	

}

#newsletter h3{
	font-size: 0.8em;
	font-weight: normal;
	margin-top:-10px;
}

#newsletter-email{
	width: 90%;
	height: 30px;
	position: relative;
	left: 50%;
	margin-left: -45%;
	cursor: auto;
	display: block;
}

#newsletter-regiao{
	width: 90%;
	height: 30px;
	position: relative;
	left: 50%;
	margin-left: -45%;
	margin-top: 10px;

}

#newsletter-enviar{
	position: relative;
	left: 50%;
	margin-left: -45%;
	width: 90%;
	height: 30px;
	background-color: #E73D81;
	border: none;
	color:white;
	font-weight: bolder;
	display: block;
	margin-top: 10px;

}

select:hover { 
	color: #E73D81;

}

#rodape-informacoes{
	width: 100%;
	background-color: #E73D81;
	float: left;
}

.bloco-informacoes{
	position: relative;
	left: 50%;
	margin-left: -45%;
	width: 90%;
	padding-top: 10px;
	text-align: left;
}

.box-bloco-informacoes{
	width: 90%;
	position: relative;
	left: 50%;
	margin-left: -45%;
	float: left;
}

.bloco-informacoes h1{
	color: white !important;
	font-size: 1.3em;
	text-align: left !important;

}

.bloco-informacoes ul li{
	list-style: none;
	margin-left:-40px;
	text-align: left;
	color: white;
	line-height: 25px;
	font-size: 0.8em;
}

#rodape{
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #3498DB;
	float: left;
	color: white;
	font-size: 0.8em;
}

#oferta{
	width: 100%;
	float: left;
	margin-top:155px;

}

.background-oferta{
	width: 100%;
	float: left;
	height: 150px;
	background-color: transparent;
	background:linear-gradient( to top, black, transparent),url("../img/teste-img.jpg")  ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: cover;

}	

.background-oferta h1{
	text-align: center;
	color: white;
	line-height: 100px;
}

.coluna-compra{
	margin-left: 4%;
	width: 90%;
	float: left;
	background-color: white;
	margin-top:20px;
}

.coluna-compra-box{
	position: relative;
	left: 50%;
	margin-left: -45%;
	width: 90%;
	float: left;
}

.coluna-compra-box h1{
	color:#3498DB;
	font-size: 1.2em;
}

.botao-compra{
	width: 100%;
	background-color:transparent;
	border: 1px solid #E73D81;
	color:#e73d81;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.9em;
	margin-bottom: 10px;
	transition:0.5s;
}

.botao-compra:hover{
	background-color: #E73D81;
	color:white;
}

.botao-compra:focus{
	background-color: #E73D81;
	color:white;
}

.ingresso-inteira{
	width: 100%;
	background-color:transparent;
	border: 1px solid #E73D81;
	color:#e73d81;
	font-size: 0.9em;
	margin-bottom: 10px;
	float: left;

}

.ingressos-quantidade{
	float: left;
	width: 25%;
	height: 50px;
	border-right: 1px solid #e73d81;
	text-align: center;
	font-size: 20px;
	box-shadow: 0 !important;
	outline: 0 !important;
	border: none;

}


.ingressos-valor{
	float: left;
	width: 50%;
	height: 50px;
	border-right: 1px solid #e73d81;
	text-align: center;
	border-left: 1px solid #e73d81;

}

.ingressos-botoes{
	float: left;
	width: 24%;
	height: 50px;
}

.ingressos-valor{
	
}

.ingressos-valor h1{
	color:#e73d81;
	line-height: 25px;
	font-size: 1.2em
}

input.botao-add-sub{
	width: 101%;
	height: 25.5px;
	border: none;
	font-size: 1.2em;
	text-align: center;
	border-bottom: 1px solid #e73d81;
	background-color: transparent;
	color:#e73d81;
	font-weight: bolder;
	transition:0.2s;

}

input.botao-add-sub:hover{
	background-color: #e73d81;
	color:white;
	transition:0.2s;

}

input.botao-add-sub:active{
	background-color: #AD255B;
	color:white;

}

.ingressos-valor h2{
	font-size: 0.8em;
	margin-top: -16px;
	text-align: center !important;

}

.subtotal{
	width: 10%;
	border: none;
	font-size: 1.1em;
}

#tabela-resumo-compra{
	width: 70%;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#e73d81;
}

.ok-comprar{
	width:100%;
	height: 50px;
	background-color: #E73D81;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: normal;
	margin-bottom: 20px;
	font-size: 1.2em;
	transition:0.3s;
}

.ok-comprar:hover{
	background-color: #AD255B;
	transition:0.3s;
}

#informacoes{
	width: 100%;
	float: left;

}

.coluna-informacoes{
	width: 90%;
	float: left;
	background-color: white;
	margin-left: 4%;
	margin-top:20px;
	margin-bottom: 20px;

}

.coluna-informacoes-box img{
	width: 100%;
}

.coluna-informacoes-box{
	position: relative;
	left: 50%;
	margin-left: -45%;
	width: 90%;
	float: left;
	margin-top: 20px;
}

.coluna-informacoes-box h1{
	color:black;
	font-size: 1.2em;
}

.coluna-informacoes-box h2{
	color:black;
	font-size: 0.8em;
	font-weight: normal;
	line-height: 0px;
}


.coluna-informacoes-sinopsia-regras h1{
margin-top: 30px;
color:#4D4D4D;

}
.coluna-informacoes-sinopsia-regras p{
	font-size: 0.9em;
	text-align: justify;
	color:#4D4D4D;

}


@media (min-width: 533px) {

.busca-topo,.box-btn-procurar{
	display: block;
}	


.busca-topo{
	width: 27%;
	margin-top: 27px;
	margin-left:2%;
	float: left;
	
}

.busca-topo input{
	width: 100%;
	height: 30px;
	float: left;

}

.box-btn-procurar{
	float: left;
	width: auto;

}

.btn-procurar{
	height: 30px;
	background-color: #3498DB;
	border: none;
	border-radius: 3px;
	color: white;
	border-radius: 0px 3px 3px 0px;
	margin-top: 27px;
	padding-left:20px;
	padding-right: 20px; 

}


.box-login{
	margin-left: -160px;
	width:320px;

}


.bloco-evento{
	width:45%;
	left: 0px;
	margin-left: 20px;
	float: left;

}


#newsletter h1,h3{
	text-align: center;


}

#newsletter h3{
	font-size: 0.9em;
	font-weight: normal;
	margin-top:-10px;
}


#newsletter-enviar{
	border-radius: 3px;

}


.bloco-informacoes{
	position: relative;
	left:0px;
	margin-left: 2.5%;
	width: 30%;
	float: left;
}

.evento-slide{
	margin-left: -210px;
	width: 420px;
	height: 420px;

}

.evento-slide h1{
	margin-top: 260px;

}

}

/*AQUI*/

@media (min-width: 1024px) {


.busca-topo,.box-btn-procurar{
	display: block;
}

.logotipo-topo{
	margin-left: 7%;

}

.login-topo{
	margin-right: 7%;

}

.busca-topo{
	width: 50%;
	margin-top: 27px;
	margin-left:3%;
	float: left;
	
}

.busca-topo input{
	width: 100%;
	height: 30px;
	float: left;

}

.box-btn-procurar{
	float: left;
	width: auto;

}

.btn-procurar{
	height: 30px;
	background-color: #3498DB;
	border: none;
	border-radius: 3px;
	color: white;
	border-radius: 0px 3px 3px 0px;
	margin-top: 27px;
	padding-left:20px;
	padding-right: 20px; 

}

.btn-procurar .fas{
	color: white;
}


.bloco-evento{
	width:22.7%;
	left: 0px;
	margin-left: 24px;
	float: left;

}

#newsletter-email{
	width: 35%;
	height: 30px;
	left: 0%;
	margin-left: 2.5%;
	float: left;
}

#newsletter-regiao{
	width: 35%;
	position: relative;
	left: 0%;
	margin-left: 2.5%;
	float: left;
	margin-top: 0px;
}

#newsletter-enviar{
	float: left;
	left: 0%;
	margin-left: 2.5%;
	width: 20%;
	background-color: #E73D81;
	margin-top: 0px;

}

.bloco-informacoes{
	
	margin-left: 3.3%;
	width: 30%;

}

.background-oferta{
	width: 100%;
	height: 400px;

}	

.background-oferta h1{
	font-size: 3em;
	line-height: 300px;
}

#oferta{
	width: 50%;
	float: right;

}

#informacoes{
	width: 50% !important;
	float: left;
	margin-top: 155px;
}

.background-oferta{
	display: none;

}

.coluna-compra{
	width: 95%;
	float: left;
	background-color: white;
	margin-left: 10px;

}

.coluna-informacoes{
	width: 95%;
	float: right;
	background-color: white;
	margin-right: 10px;

}

#tabela-resumo-compra{
	width: 40%;

}



}
